* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

header {
    margin: 50px;
    color: royalblue;
}

h2 {
    color: rgb(96, 191, 223);
}

footer {
    margin-top: 400px;
}